<%
   last_commit_measure = measure('last_commit')
   revision_measure = measure('revision')
   commits_measure = measure('commits')

   if last_commit_measure
%>
  <div class="dashbox">
    <p>
      <span>
        <!-- TODO :url => url_for_drilldown(last_commit_measure) -->
        <%= format_measure(last_commit_measure, :prefix => 'Last commit: ') %>
      </span>
    </p>

    <p>
      <span>
        <%= format_measure(revision_measure, :prefix => 'Revision: ') %>
      </span>
    </p>

    <p>
      <span>
        <%= format_measure(commits_measure, :prefix => 'Commits: ') %>
        <% if dashboard_configuration.selected_period? %>
          <%= format_variation(commits_measure) %>
        <% end %>
      </span>
    </p>
  </div>
<% end %>
