<%
   last_commit_date = measure('last_commit_date')
   revision_measure = measure('revision')
   commits_measure = measure('commits')
   
   if commits_measure
%>
  <div class="dashbox">
    <p class="title">Commits</p>
    <p>
      <span class="big"><%= format_measure(commits_measure) -%></span>
      <%= dashboard_configuration.selected_period? ? format_variation(commits_measure) : trend_icon(commits_measure) -%>
    </p>
    <p>
      <%= format_measure(revision_measure, :prefix => 'Revision: ') -%>
    </p>
    <p>
      <%= format_measure(last_commit_date, :prefix => 'Last commit on ') -%>
    </p>
  </div>
<% end %>
